body {
    background-color: #548C99;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    padding-bottom: 110px;
    margin-top: -100px;
}

img {
    width: 100%;
    height: 100%;
}

.inlog-container {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%
}

.inlog-container h1 {
    color: #3C8B81;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 80px;
}

.inlog-container h2 {
    color: rgb(148, 148, 148);
    font-size: 1rem;
    margin-top: 10px;
}

.inlog-container form {
    padding: 10px;
}

.inlog-container input {
    padding: 15px 30px 15px 10px;
    text-align: start;
    margin-bottom: 30px;
    width: 300px;
    font-size: 1rem;
}

.input-box i {
  transform: translateY(100%);
  color: #888;
  position: absolute;
  margin-left: -25px;
}

.input-box {
  position: relative;
}

.inlog-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inlog-button input{
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: #3C8B81;
    color: white;
    border: none;
    font-size: 1.7rem;
    margin-bottom: 30px;
}